<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Paneli - ÖZBEY TEKNİK SERVİS</title>
    <!-- Bootstrap core CSS-->
    <link href="/TemaDetay/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/TemaDetay/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/TemaDetay/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="/TemaDetay/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    @{
        Html.RenderAction("NavResult", "Admin");
    }
    <div class="content-wrapper" style="align-content:center">
        @RenderBody()

        <!-- Bootstrap core JavaScript-->
        <script src="/TemaDetay/vendor/jquery/jquery.min.js"></script>
        <script src="/TemaDetay/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/TemaDetay/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/TemaDetay/vendor/chart.js/Chart.min.js"></script>
        <script src="/TemaDetay/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/TemaDetay/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/TemaDetay/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/TemaDetay/js/sb-admin-datatables.min.js"></script>
        <script src="/TemaDetay/js/sb-admin-charts.min.js"></script>
    </div>
</body>
</html>
