<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>ÖZBEY TEKNIK SERVIS</h2>
                <p>
                    Alanında uzmanlaşmış profesyonel kadromuz ile sizlere beyaz eşya alanında teknik servis hizmeti vermekteyiz. Dilerseniz çağrı merkezimizi arayarak dilerseniz web sayfamız üzerinden kayıt bırakarak servis talabinde bulunabilirsiniz. Özbey Teknik Servis olarak siz değerli müşterilemize kaliteli ve güvenilir hizmet anlayışı ile hizmet vermekteyiz.
                </p>
            </div>
        </div>

    </div>
</div>

