<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2>Hizmetlerimiz</h2>
                <p>Siz değerli müşterilerimize Bulaşık Makinası, Çamaşır Makinası, Kurutma makinası, Buzdolabı, Kombi , Klima, Ankastre, Küçük Ev Aletleri ve Televizyon ürünlerinde teknik servis hizmeti vermekteyiz.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i>1</i>
                    </span>
                    <h3>İstanbul Avrupa Yakası Geneli Servis İmkanı</h3>
                    <p>
                        Beyaz eşya servisimiz İstanbul Avrupa yakasındaki tüm ilçelere Beyaz eşya teknik servis hizmeti veriyoruz.Arızalanan Buzdolabı,çamaşır makinası,bulaşık makinası,fırın,setüstü ocak,kurutma makinası,ocak,davlumbaz,klima,kombi,elektrikli süpürgelerinizde yaşadıgınız sorunları bıze bıldırınız.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i>2</i>
                    </span>
                    <h3>Garantili ve Kaliteli Hizmet</h3>
                    <p>
                        Beyaz eşya Teknik servisi olarak İstanbul avrupa yakası geneline beyaz eşya servis imkanı sunuyoruz.Yapılan işlemler değişen parçalar garantili olup sizlere kaliteli servis imkanı sunuyoruz.Bunun yanı sıra arıza kaydı bıraktığınız gun içinde servis hizmeti sunuyoruz.Böylece sizlere zamandan tasarruf saglıyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

