
@{
    ViewBag.Title = "ArizaKayit";
    Layout = "~/Views/Shared/_LayoutMusteriGenel.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Arızanızı kaydedin sizinle iletişime geçelim..</span>
                        <h1>Arıza Kaydı</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Arıza Kayıt Formu</h3>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="name">Ad Soyad</label>
                                <input type="text" id="name" class="form-control" placeholder="Adınızı ve soyadınızı giriniz.">
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="email">Email</label>
                                <input type="text" id="email" class="form-control" placeholder="Email adresinizi giriniz.">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="subject">Telefon Numarası</label>
                                <input type="text" id="subject" class="form-control" placeholder="Telefon numaranızı giriniz.">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="message">Mesajınız</label>
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Mesajınızı yazınız."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Messajı Gönder" class="btn btn-primary">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

