
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutMusteriGenel.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/images/img_6.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">
                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>HAKKIMIZDA</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">

                <p>
                    Tüm marka ve model  beyaz eşyalarda garantili servis ve bakım hizmeti sunan Halitler Teknik Servis, 2000 yılından beri sizlere güvenle hizmet vermektedir.
                    2000 yılında Eyüp çevresinde başladığımız beyaz eşya servis, tamir ve bakım hizmetimize, bugün İstanbul genelinde sürdürmekteyiz.
                </p>
                <p>
                    Yılların vermiş olduğu sektör tecrübesi ve kaliteli işçilik prensibiyle müşteri odaklı çalışan firmamız bu doğrultuda hızla büyümüş ve edindiği piyasa tecrübesini nitelik arttırım anlamında kullanmış, sektörde ki en etkin firmalar arasına girerek İstanbul avrupa yakasında hizmet ağını genişletmiştir.
                    Tüm beyaz eşya ve ankastre markasına ait ürünlerde güler yüzlü ve güvenilir hizmet anlayışımız ile siz değerli müşterilerimizi memnun ediyoruz.
                    Tüm beyaz eşyalarınızın bakım, onarımını, tamir, kurulum vb. gerçekleştiriyor, sizlere en uygun fiyatlarda İstanbul içinde hizmet veriyoruz.

                </p>
                <p>
                    Bugün itibariyle 30 profesyonel çalışanı, 3 büyük deposu ve 15 adet servis aracı ile İstanbul'un her semtine hizmet vermektedir. Değişimin hep bir adım önünde giderek İstanbul'un en başarılı servislerinden biri haline gelmiştir.  17 yıldır hizmette kalite anlayışından ödün vermeden hizmete devam etmekte ve bundan sonrada aynı hizmet anlayışı çerçevesinde  devam edecektir.
                </p>
            </div>
        </div>
    </div>
</div>

